{% extends 'structure.html' %}
{% load static %}

{% block custom_css %}
    <style>
    .display-4 {
        font-size: 1.5rem;
    }
    </style>
{% endblock %}

{% block global_page_top %}
	智心平台目前是早期技术验证阶段，所以不要尝试用你的真实学号来注册或登录哦
{% endblock %}

{% block main_body %}
    <div class="row">
        <div class="col-md-8 hide-md">
            <img src="{% block image %}{% endblock %}" alt="Dec img" class="img-rounded img-responsive border-card" style="border-radius: 10px; width: 100%;" />
        </div>
        <div class="col-md-4">
            <div class="border-card user-action-card" style="padding: 20px;">
                {% block user_page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}