{% extends 'structure.html' %}
{% load static %}

{% block custom_css %}
    <style>
    .display-4 {
        font-size: 1.5rem;
    }
    </style>
{% endblock %}

{% block main_body %}
    <div class="row">
        <div class="col-md-8" style="padding-top: 20px;">
            <img src="{% block image %}{% endblock %}" alt="Dec img" class="img-rounded img-responsive" style="border-radius: 10px; width: 100%;" />
        </div>
        <div class="col-md-4">
            <div class="border rounded" style="border-radius: 10px; border-width: 2px; background-color: ghostwhite; padding: 20px;">
                {% block user_page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}