@mixin radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin custom_radius($radius, $radius2, $radius3, $radius4) {
  -webkit-border-radius: $radius $radius2 $radius3 $radius4;
  -moz-border-radius: $radius $radius2 $radius3 $radius4;
  border-radius: $radius $radius2 $radius3 $radius4;
}
@mixin box_shadow($_1, $_2, $_3, $_4, $color) {
  -webkit-box-shadow: $_1 $_2 $_3 $_4 $color;
  -moz-box-shadow: $_1 $_2 $_3 $_4 $color;
  box-shadow: $_1 $_2 $_3 $_4 $color;
}

// 全局色彩
:root {
  --theme-focus-color: rgb(68, 197, 255);
}
.light {
  --theme-text-color: rgb(40, 43, 44);
  --theme-body-color: rgb(240, 248, 255);
  --theme-background-color: rgb(232, 232, 232);
  --theme-background-color-t: rgba(232, 232, 232, 0.6);
  --theme-card-background-color: rgb(244, 248, 255);
  --theme-card-background-color-t: rgba(244, 248, 255, 0.9);
  --theme-card-bg-color-1: linen;
  --theme-card-bg-color-2: floralwhite;
  --theme-card-bg-color-3: honeydew;
  --theme-border-color-t: rgba(0, 0, 0, 0.16);
  --theme-link-color: grey;
  --theme-link-hover-color: cornflowerblue;
  // 覆写 bootstrap 标准色
  --bs-info-text: #084298;
  --bs-info-bg: #cfe2ff;
  --bs-info-border: #b6d4fe;
  --bs-success-text: #0f5132;
  --bs-success-bg: #d1e7dd;
  --bs-success-border: #badbcc;
  --bs-primary-text: #055160;
  --bs-primary-bg: #cff4fc;
  --bs-primary-border: #b6effb;
}
.dark {
  --theme-text-color: rgb(248, 248, 255);
  --theme-body-color: rgb(57, 57, 57);
  --theme-background-color: rgb(53, 53, 53);
  --theme-background-color-t: rgba(53, 53, 53, 0.6);
  --theme-card-background-color: rgb(50, 53, 57);
  --theme-card-background-color-t: rgba(50, 53, 57, 0.9);
  --theme-card-bg-color-1: #37325c;
  --theme-card-bg-color-2: #34424e;
  --theme-card-bg-color-3: #415c41;
  --theme-border-color-t: rgba(255, 255, 255, 0.16);
  --theme-link-color: #dadaf1;
  --theme-link-hover-color: cornflowerblue;
  // 覆写 bootstrap 标准色
  --bs-info-text: #084298;
  --bs-info-bg: #36848f;
  --bs-info-border: #b6d4fe;
  --bs-success-text: #0f5132;
  --bs-success-bg: #346334;
  --bs-success-border: #badbcc;
  --bs-primary-text: #055160;
  --bs-primary-bg: #2f4c57;
  --bs-primary-border: #95d4e3;
}

// 全局样式
* {
  color: var(--theme-text-color);
  transition: all 0.3s ease-in-out;
}
body {
  background-color: var(--theme-body-color);
  background-image: var(--theme-background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 0;
  transition: all 0.4s linear;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--theme-link-color);
  transition: all 0.3s;
}
a:hover {
  text-decoration: none;
  color: var(--theme-link-hover-color);
}
// 导航栏
nav, .nav {
  background-color: var(--theme-background-color-t) !important;
  margin: 2px;
  padding: 5px;
  @media (min-width: 768px) {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}
.nav-custom-link {
  color: midnightblue;
}
.nav-custom-link:hover {
  color: navy;
}
.navbar-dropdown-menu {
  background-color: var(--theme-background-color-t);
  @include radius(8px);
  transition: all 0.3s ease-in-out;
}
// 卡片
.border-card {
  @include radius(8px);
  @include box_shadow(0, 1px, 2px, 1px, var(--theme-border-color-t));
  margin-bottom: 30px;
  background-color: var(--theme-card-background-color-t);
}
.border-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  @include radius(8px);
  @include box_shadow(0, 1px, 2px, 1px, var(--theme-border-color-t));
  margin-bottom: 10px;
}
.sidebar_widget {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--theme-card-background-color-t)
}
.float-box {
  transition: all 0.3s;
}
.float-box:hover {
  transform: translateY(-6px);
}
.line-button {
  width: 90%;
  margin: 4px;
}
.widget-list {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
.list-widget {
  @extend .no-margin-padding;
  display: flex;
  align-items: stretch;
}
.post-card {
  width: 96%;
  padding: 5px;
  margin: 4px;
  background-color: var(--theme-card-background-color)
}
.post-card-title {
  font-size: 24px;
  height: 1.4em;
  line-height: 1.4em;
}
.post-card-text {
  font-size: 14px;
  height: 1.2em;
  line-height: 1.2em;
}
.card-image {
  width: 100%;
  height: 156px;
  object-fit: cover;
  @include radius(8px);
}
.card-btn {
  margin-top: 4px;
}
.card-image-top {
  height: 110px;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 5px;
  @include custom_radius(8px, 8px, 0, 0);
}
.card-bg-1, .card-bg-2, .card-bg-3 {
  @extend .border-card;
}
.card-bg-1 {
  background-color: var(--theme-card-bg-color-1);
}
.card-bg-2 {
  background-color: var(--theme-card-bg-color-2);
}
.card-bg-3 {
  background-color: var(--theme-card-bg-color-3);
}
// 头像
.avatar {
  @include radius(50%);
  width: 70px;
  height: 70px;
  object-fit: cover;
}
// 图片遮罩
.mask {
  position: relative;
  z-index: 1;
}
.mask:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  @include radius(8px);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.42);
  transition: all 0.3s;
}
.mask:hover:before {
  opacity: 1;
}
p.mask-text {
  position: absolute;
  margin-top: -40px;
  padding-left: 3px;
  z-index: 2;
  margin-bottom: 0;
  font-size: 1.2rem;
  color: ghostwhite;
  width: 100%;
}
p.mask-blank {
  @extend .no-margin-padding;
}
// bootstrap 组件
.alert-info {
  color: var(--bs-info-text);
  background-color: var(--bs-info-bg);
  border-color: var(--bs-info-border);
}
.alert-success {
  color: var(--bs-success-text);
  background-color: var(--bs-success-bg);
  border-color: var(--bs-success-border);
}
.alert-primary {
  color: var(--bs-primary-text);
  background-color: var(--bs-primary-bg);
  border-color: var(--bs-primary-border);
}
// Toast
.site-icon {
  width: 30px;
}
.toast {
  .toast-header {
    strong {
      color: black;
    }
  }
  .toast-body {
    color: black;
  }
}
.toast:not(.showing):not(.show) {
  opacity: 0;
  display: none;
}
.toast.show {
  opacity: 0.8;
  display: block;
}
.toast-container {
  pointer-events: none;
}
// 输入框
.input-group {
  .input-group-prepend {
    .input-group-text {
      height: 100%;
      border: 1px solid transparent;
      background-color: var(--theme-focus-color);
      @include custom_radius(5px, 0, 0, 5px);
    }
  }
  .form-control {
    color: var(--theme-text-color) !important;
    background-color: var(--theme-background-color) !important;
    border: 1px solid transparent;
    transition: all 0.3s;
    @include custom_radius(0, 5px, 5px, 0);
  }
  .form-control:focus {
    border: 1px solid var(--theme-focus-color) !important;
  }
}
// 标题样式
h1:after, h2:after, h3:after {
  content: "";
  display: block;
  background: var(--theme-focus-color);
  opacity: 0.3;
  pointer-events: none;
  border-radius: 15px;
  margin-top: -15px;
  margin-left: -3px;
}
h1:after {
  width: 100px;
  height: 18px;
}
h2:after, h3:after {
  width: 70px;
  height: 16px;
}
h1, h2, h3 {
  margin-bottom: 15px;
  font-weight: 600;
}
.display-1, .display-2, .display-3, .display-4 {
  margin: 20px 20px 30px;
}
// 额外按钮
.btn-love {
  color: #fff;
  background-color: #ff62ea;
  border-color: #ff62ea;
}
.btn-love:hover {
  color: #fff;
  background-color: #e345cd;
  border-color: #ff62ea;
}
// 浮动按钮
.float-button-container {
  pointer-events: none;
}
.float-button {
  pointer-events: auto;
  @extend .no-margin-padding;
  height: 50px;
  width: 50px;
  transition: all 0.4s;
}
// 补充
.no-margin-padding {
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  .sidebar-hide {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin-top: 200px;
  }
  .hide-md {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-container {
    margin-top: 300px;
  }
  .hide-lg {
    display: none;
  }
}