{% extends 'structure.html' %}

{% block main_body %}
    <div class="row">
        {% if sidebars %}
            <div class="col-lg-9">
        {% else %}
            <div class="col-lg-12">
        {% endif %}
        <div class="rounded-1 border" style="background-color: ghostwhite; border-radius: 10px; padding: 20px; margin-bottom: 20px;">
            {% block content %}
            {% endblock %}
        </div>
        </div>
        <div class="col-lg-3">
            {% for sidebar in sidebars %}
                <div class="rounded-1 border" style="background-color: ghostwhite; border-radius: 10px; padding: 20px; margin-bottom: 20px;">
                    {{ sidebar|safe }}
                </div>
            {% endfor %}
        </div>
        </div>
        <div class="rounded-1 border" style="background-color: ghostwhite; border-radius: 10px; padding: 20px 20px 5px;margin-bottom: 20px;">
            <div id="hitokoto">
                <a href="#" id="hitokoto_text">:D 获取中...</a>
                <p id="provider">接口数据来自<a href="https://hitokoto.cn/" style="text-underline: #e8e8ff; color: #666666">一言官方</a></p>
            </div>
        </div>
    </div>
{% endblock %}