{% load site_url %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | 智心💗</title>
    <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'MSOnlinePanel/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'MSOnlinePanel/common/global.css' %}">
    <script src="{% static 'MSOnlinePanel/bootstrap/jquery.js' %}"></script>
    <script src="{% static 'MSOnlinePanel/bootstrap/popper.js' %}"></script>
    <script src="{% static 'MSOnlinePanel/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'MSOnlinePanel/mark/marked.min.js' %}"></script>
    <style>
        body {
            background-image: url("{% static '/bg/background_122474271_p0.jpg' %}");
        }
    </style>
    {% block custom_css %}
    {% endblock %}
</head>
<body>
<header>
    <!-- 网站的页眉部分 -->
    <nav class="border-card nav navbar-expand-md bg-light fixed-top" style="margin: 2px; padding: 5px; border-radius: 8px; background-color: rgba(247,252,255,0.5) !important; z-index: 2;" id="navbar-top">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#globalNavbar" aria-controls="#globalNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="xicon-container btn-toggle-menus"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" style="width: 20px; height: 20px; font-size: 20px; color: inherit;"><circle cx="16" cy="8" r="2" fill="currentColor"></circle><circle cx="16" cy="16" r="2" fill="currentColor"></circle><circle cx="16" cy="24" r="2" fill="currentColor"></circle></svg></span>
        </button>
        <a class="navbar-brand nav-custom-link" href="{% site_url %}">
            <img src="{% static 'favicon.svg' %}" alt="Logo" width="30" height="30" style="width: unset;">
            <strong>智心💗</strong>
        </a>
        <div class="collapse navbar-collapse" id="globalNavbar" style="padding-right: 10px; flex-direction: row-reverse;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-custom-link" href="{% site_url 'post/' %}">最近动态</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-custom-link" href="{% site_url 'about/' %}">关于我们</a>
                </li>
                {% if request.session.login_user_id %}
                    <li class="nav-item">
                        <a class="nav-link nav-custom-link" href="{% site_url 'user/me/' %}">{{ request.session.login_user_name }}</a>
                    </li>
                    <li class="nav-item dropdown show">
                        <a class="nav-link nav-custom-link dropdown-toggle" href="#" id="dropdownNavbarLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">创作</a>
                        <div class="dropdown-menu navbar-dropdown-menu" aria-labelledby="dropdownNavbarLink">
                            <a class="dropdown-item nav-custom-link" href="{% site_url 'post/edit/' %}">发布文章</a>
                            <a class="dropdown-item nav-custom-link" href="{% site_url 'upload/' %}">上传文件</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-custom-link" href="{% site_url 'user/logout/' %}">登出</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-custom-link" href="{% site_url 'user/login/' %}">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-custom-link" href="{% site_url 'user/signup/' %}">注册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main>
    <!-- 页面的主要内容 -->
    <div class="main-container container" style="margin-bottom: 100px;">
        {% if global_page_top %}
            {% if not global_page_top_without_border %}
                <div class="container-md border-card" style="background-color: ghostwhite; border-radius: 10px; margin-bottom: 20px; padding: 10px; text-align: center;">
            {% endif %}
                {% block global_page_top %}
                {% endblock %}
            {% if not global_page_top_without_border %}
                </div>
            {% endif %}
        {% endif %}

        {# 页面的主要内容！ #}
        {% block main_body %}
        {% endblock %}

        {% if global_page_bottom %}
            <div class="container-md border-card" style="background-color: ghostwhite; margin-bottom: 20px; padding: 10px; text-align: center;">
                {% block global_page_bottom %}
                {% endblock %}
            </div>
        {% endif %}
    </div>
</main>

<footer>
    <!-- 网站的页脚部分 -->
    <div class="border-card nav navbar-expand" id="navbarSupportedContent" style="height: min-content; border-radius: 8px; background-color: ghostwhite; padding: 5px; margin: 2px;">
        <p class="navbar-brand lead text-center">
            心智健康团队 为您提供服务
        </p>
        <div class="hide-md" style="flex-direction: row-reverse;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="https://beian.miit.gov.cn/" class="nav-link" target="_blank">苏ICP备2024110906号</a>
                </li>
                <li class="nav-item">
                    <a href="https://beian.mps.gov.cn/#/" class="nav-link" target="_blank">苏公网安备32011702000460号</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% site_url 'admin/' %}">管理面板</a>
                </li>
            </ul>
        </div>
        <p class="hide-lg navbar-nav" style="text-align: right; width: 100%;">
            <a href="{% site_url 'about/' %}" class="nav-link">关于我们</a>
        </p>
    </div>
</footer>

<section class="toast-container fixed-bottom" id="toast-container" style="z-index: 1; margin-bottom: 80px; text-align: center;">
</section>

{% block addon_toast %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        function renderMarkdown() {
            let list = document.getElementsByClassName("markdown-content")
            let i;
            for (i = 0; i < list.length; i++) {
                list[i].innerHTML = marked.parse(list[i].innerHTML)
                list[i].classList.remove("markdown-content")
            }
            console.log("完成渲染页面中的 Markdown 内容。")
        }
    </script>
    {% block custom_js_1 %}
    {% endblock %}
{% endblock %}

</body>
</html>