{% extends 'base.html' %}
{% load static %}
{% load site_url %}

{% block title %}
    查看文件 {{ file.name }}
{% endblock %}

{% block content %}
    <img src="{% site_url 'upload/file/' file.md5 '/' %}" alt="{{ file.name }}" title='{{ file.name }}'>
    <hr>
    <h3>{{ file.name }}</h3>
    <p>上传者：<a href="{% site_url 'user/' file.uploader.id '/' %}">{{ file.uploader.nick_name }}</a></p>
    <p>上传时间：{{ file.uploaded_at }}</p>
    <hr>
    <p>MD5：<code id="md5">{{ file.md5 }}</code></p>
    <p>直链：<code id="link">{% site_url 'upload/file/' file.md5 '/' %}</code></p>
    <p>Markdown语法插入此图片：<code id="editor-md5">![{{ file.name }}]({% site_url 'upload/file/' file.md5 '/' %})</code></p>
    <button class="btn btn-primary" onclick="copy('{{ file.md5 }}')">只复制MD5</button>
    <button class="btn btn-primary" onclick="copy('{% site_url 'upload/file/' file.md5 '/' %}')">复制直链</button>
    <button class="btn btn-primary" onclick="copy('![{{ file.name }}]({% site_url 'upload/file/' file.md5 '/' %})')">复制Markdown</button>
{% endblock %}

{% block addon_toast %}
    {% include 'toast.html' with class='bg-primary' id='copy-message' header='选中的文本已经复制' content='您现在可以在任意位置粘贴。' %}
{% endblock %}

{% block custom_js_2 %}
    <script>
        let toastEl = document.getElementById('copy-message');
        toastEl.remove();
        document.getElementById("toast-container").appendChild(toastEl);
        function showCopyMessage() {
            let toast = new bootstrap.Toast(toastEl);
            toast.show();
        }
        function copy(text) {
            navigator.clipboard.writeText(text);
            console.log("已经将文件的MD5复制到剪切板：", text);
            showCopyMessage();
        }
    </script>
{% endblock %}