{% extends 'base.html' %}
{% load static %}

{% block title %}
    文件上传器
{% endblock %}

{% block global_page_top %}
    文件上传暂时仅支持上传常规图片格式（jpg、png格式）的文件。<br>
    太菜啦还没学会前端预览和裁剪图片之类的高级的功能，所以比如要上传头像的话，最好直接传方形的图片，阿巴阿巴之类的叭<br>
    QAQ 以及如果要截图的话不要截这个页面 QAQ
{% endblock %}

{% block content %}
    <h1>文件上传器</h1>
    <form method="POST" enctype="multipart/form-data" style="text-align: center">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.file.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">文件</span>
            </div>
            {{ form.file }}
        </div>
        <div class="input-group mb-3">
            {{ form.filename.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">文件名</span>
            </div>
            {{ form.filename }}
        </div>
        <p>上传完毕后，您会获得所上传的文件的MD5（长度32的字符串），您可以使用该MD5引用您的文件，例如在编辑器中插入图像。</p>
        <p>智心平台默认会将该文件的名称直接作为文件名并存储在数据库中，不过您可以在上传之前修改文件名。</p>
        <button type="button" class="btn btn-success" style="width: 100%;" onclick="upload()">上传</button>
    </form>
{% endblock %}

{% block addon_toast %}
    {% include 'toast.html' with class='bg-success' id='upload-message' header='文件上传成功！' content='即将跳转到文件页面...' %}
    {% include 'toast.html' with class='bg-warning' id='error-message' header='文件上传失败' content='未知原因，请重新尝试' %}
{% endblock %}

{% block custom_js_2 %}
    <script>
        const option = {
            autohide: true,
            delay: 6000,
        }
        let toastEl1 = document.getElementById('upload-message');
        toastEl1.remove();
        document.getElementById("toast-container").appendChild(toastEl1);
        let toastEl2 = document.getElementById('error-message');
        toastEl2.remove();
        document.getElementById("toast-container").appendChild(toastEl2);
        function showLogoutMessage() {
            let toast = new bootstrap.Toast(toastEl1, option)
            toast.show();
        }
        function showErrorMessage() {
            let toast = new bootstrap.Toast(toastEl2, option)
            toast.show();
        }

        const input_file = document.getElementsByName('file')[0]
        const input_filename = document.getElementsByName('filename')[0]
        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        input_file.addEventListener('change', function (e) {
            input_filename.value = e.target.files[0].name;
        })
        function upload() {
            let formData = new FormData();
            let _file = input_file.files[0]
            let _newfile = new File([_file], input_filename.value, {type: _file.type});
            formData.append('file', _newfile);
            fetch('/upload/', {
                method: 'POST',
                headers: {
                    //'Content-Type': 'multipart/form-data',
                    'X-CSRFToken': csrfToken
                },
                body: formData,

            })
                .then((response) => {return response.json();})
                .then((data) => {
                    if (data.status === "success") {
                        showLogoutMessage();
                        setTimeout(function () {
                            window.location.href = `/upload/${data.md5}/`;
                        }, 3000);
                    }
                    else {
                        document.getElementById('error-message-msg').innerHTML = data.msg;
                        showErrorMessage();
                    }
                })
        }
    </script>
{% endblock %}
