{% extends 'base.html' %}

{% block title %}
    关于智心💗
{% endblock %}

{% block content %}
    <h1>关于智心💗</h1>
    <hr>
    <p>我们（心智健康团队）是一个由一群大学生组成的创新创业团队。</p>
    <p>然后是一些我们的团队介绍与为什么我们会想到设计开发此项目。</p>
    <p>这个部分结束之后是本平台使用到的其他外部项目的介绍。</p>
    <hr>
    <p><strong>智心平台</strong>是使用 Django 框架建立的校园心理健康服务平台。平台作为<strong>基于多模态数据处理的心理健康AI评估预警系统</strong>的子项目，由团队成员芒果帆帆开发并维护。</p>
    <p>截至目前，智心平台（MSOnlinePanel）的 Django 项目源码已经<a href="https://github.com/mangofanfan/MSOnlinePanel">在GitHub开源</a>。项目的其他部分暂无法公布。</p>
    <p>以下是本子项目使用到的其他外部项目的名单：</p>
    <ul>
        <li><strong>Bootstrap</strong>：强大的多功能前端美化框架</li>
        <li><strong>Django</strong>：基于 Python 的 Web 框架</li>
        <li><strong>Hitokoto</strong>：可接入的一言模块。智心平台使用的一言模块是芒果帆帆自己维护的镜像源，请参见此<a href="https://ifanspace.top/2024/08/26/489.html">技术文章</a>。</li>
        <li><strong>Marked</strong>：将 Markdown 格式文本渲染为 HTML 文档的 js</li>
        <li><strong>Tocbot</strong>：提取并渲染页面目录的 js</li>
        <li><strong>Vditor</strong>：多功能 Markdown 编辑器</li>
        <li>以及其他可能被忽略但确实被使用到的项目</li>
    </ul>
{% endblock %}