{% extends "base_user.html" %}
{% load site_url %}
{% load static %}

{% block title %}
    用户登录
{% endblock %}

{% block image %}
    {% static 'Users/HappyStarRail.jpg' %}
{% endblock %}

{% block user_page_content %}
    <h1 class="display-4">用户登录</h1>
    {% if msg %}
        <div class="alert alert-warning" role="alert">
            登录失败：{{ msg }}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">登录</button>
        <a href="{% site_url 'user/signup/' %}"><button type="button" class="btn btn-outline-success">注册</button></a>
    </form>
{% endblock %}