{% extends "base.html" %}
{% load static %}
{% load site_url %}

{% block title %}
    用户中心
{% endblock %}

{% block global_page_top %}
    <img src="{% if not user.cover_image %}{% static 'bg/lazy_mansui.jpg' %}{% else %}{% site_url 'upload/file/' user.cover_image '/' %}{% endif %}" class="border-card" style="width: 100%; height: 200px; object-fit: cover; margin-top: -200px; margin-bottom: 0;" alt="">
    {% if not user.value_P %}
    	<div class="alert alert-info text-center" style="margin-bottom: 20px;">
            您可以在这里管理与您有关的数据的授权情况。
            <a href="{% site_url 'chat/' %}">
                <button type="button" class="btn btn-outline-info">管理数据</button>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="display-4">{{ request.session.login_user_name }} | <small>的用户中心</small></h1>
    <div class="alert alert-success" role="alert">
        这里是您的用户中心，此处的信息只有您自己可见。
    </div>
    {% if success is False %}
        <div class="alert alert-warning" role="alert">
            更新用户信息失败：{{ msg }}
        </div>
    {% elif success is True %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            更新用户信息成功！
        </div>
    {% endif %}
    <div class="row" style="margin-left: -16px;">
        <div class="col-md-6 col-sm-12" style="margin-top: 20px;">
            <div class="rounded-1 border-card" id="UserMe" style="background-color: linen; border-radius: 5px; padding: 10px;">
                <h4 style="padding-top: 10px; padding-left: 10px;">个人资料</h4>
                <hr>
                <div style="padding: 0 10px 10px;">
                    <form method="post" action="{% site_url 'user/me/' %}">
                        {% csrf_token %}
                        <p>用户ID：{{ user.id }}</p>
                        <p>校内学号：{{ user.student_number }}</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">昵称</span>
                            </div>
                            <input name="nick_name" value="{{ user.nick_name }}" class="form-control d-inline-block" type="text" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <p>姓名：{{ user.rel_name }}</p>
                        <p>联系方式：{{ user.phone_number }}</p>
                        <input type="submit" class="btn btn-outline-info" value="更新个人资料" style="margin-top: 10px;">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-top: 20px;">
            <div class="rounded-1 border-card" id="UserSign" style="background-color: floralwhite; border-radius: 5px; padding: 10px;">
                <h4 style="padding-top: 10px; padding-left: 10px;">个人签名</h4>
                <hr>
                <div style="padding: 0 10px 10px;">
                    <form action="{% site_url 'user/me/' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">:)</span>
                            </div>
                            <textarea class="form-control" rows="8" name="sign" placeholder="这个人好懒啊，连一个字都不愿意写！=w">{{ user.sign }}</textarea>
                        </div>
                        <input type="submit" class="btn btn-outline-success" value="更新个人签名" style="margin-top: 10px;">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="rounded-1 border-card" id="UserSign" style="background-color: honeydew; border-radius: 5px; padding: 10px;">
                <h4 style="padding-top: 10px; padding-left: 10px;">个性化</h4>
                <hr>
                <div style="padding: 0 10px 10px;">
                    <form action="{% site_url 'user/me/' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3" title="填入用户封面图像的MD5，其值可以在文件链接和文件页面中找到。留空以使用默认占位图。">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">封面？</span>
                            </div>
                            <input name="cover_image" value="{{ user.cover_image }}" class="form-control d-inline-block" type="text" aria-label="CoverImage" aria-describedby="basic-addon1">
                        </div>
                        <input type="submit" class="btn btn-outline-success" value="更新个性化" style="margin-top: 10px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

