{% extends "base_user.html" %}
{% load site_url %}
{% load static %}

{% block title %}
    新用户注册
{% endblock %}

{% block image %}
    {% static 'Users/BestWishes.jpg' %}
{% endblock %}

{% block user_page_content %}
    <h1 class="display-4">新用户注册</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.nick_name.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">昵称</span>
            </div>
            {{ form.nick_name }}
        </div>
        <div class="input-group mb-3">
            {{ form.rel_name.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">真名</span>
            </div>
            {{ form.rel_name }}
        </div>
        <div class="input-group mb-3">
            {{ form.student_number.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">学号</span>
            </div>
            {{ form.student_number }}
        </div>
        <div class="input-group mb-3">
            {{ form.phone_number.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">联系方式</span>
            </div>
            {{ form.phone_number }}
        </div>
        <div class="input-group mb-3">
            {{ form.password.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text">密码</span>
            </div>
            {{ form.password }}
        </div>
        <button type="button" class="btn btn-primary" onclick="signup()">注册</button>
        <a href="{% site_url 'user/login/' %}"><button type="button" class="btn btn-outline-success">登录</button></a>
    </form>
{% endblock %}

{% block addon_toast %}
    {% include 'toast.html' with class='bg-success' id='signup-message' header='用户已注册' content='即将进入登录页面...' %}
    {% include 'toast.html' with class='bg-warning' id='error-message' header='注册失败' content='未知原因，请重新尝试...' %}
{% endblock %}

{% block custom_js_1 %}
    <script type="text/javascript" src="{% static 'MSOnlinePanel/validate/validate.js' %}"></script>
    <script type="text/javascript">
        const option = {
            autohide: true,
            delay: 6000,
        }
        let toastEl1 = document.getElementById('signup-message');
        toastEl1.remove();
        document.getElementById("toast-container").appendChild(toastEl1);
        let toastEl2 = document.getElementById('error-message');
        toastEl2.remove();
        document.getElementById("toast-container").appendChild(toastEl2);
        function showSignupMessage() {
            let toast = new bootstrap.Toast(toastEl1, option)
            toast.show();
        }
        function showErrorMessage() {
            let toast = new bootstrap.Toast(toastEl2, option)
            toast.show();
        }

        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        function signup() {
            let nick_name = document.getElementsByName('nick_name')[0].value;
            let rel_name = document.getElementsByName('rel_name')[0].value;
            let student_number = document.getElementsByName('student_number')[0].value;
            let phone_number = document.getElementsByName('phone_number')[0].value;
            let password = document.getElementsByName('password')[0].value;
            let errMsgs = validate(
                ["nick_name", nick_name],
                ["rel_name", rel_name],
                ["student_number", student_number],
                ["phone_number", phone_number],
                ["password", password],
            )
            if (errMsgs.length > 0) {
                // 前端格式校验
                document.getElementById('error-message-msg').innerHTML = generateMsg(errMsgs);
                showErrorMessage();
                return;
            }
            fetch('/user/signup/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    'nick_name': nick_name,
                    'rel_name': rel_name,
                    'phone_number': phone_number,
                    'student_number': student_number,
                    'password': password,
                })
            })
                .then((response) => {return response.json();})
                .then((data) => {
                    if (data.status === "success") {
                        showSignupMessage();
                        setTimeout(function () {
                            window.location.href = '/user/login/';
                        }, 1000);
                    }
                    else {
                        document.getElementById('error-message-msg').innerHTML = data.msg;
                        showErrorMessage();
                    }
                })
        }
    </script>
{% endblock %}