{% extends "base_user.html" %}
{% load static %}

{% block title %}
    登出/注销
{% endblock %}

{% block image %}
    {% static 'Users/MerryChristmasStarRail.jpg' %}
{% endblock %}

{% block user_page_content %}
    <h1 class="display-4">登出 / 注销</h1>
    <div class="alert alert-info" role="alert">
        注销登录状态之后，您将需要再次登录以访问您的用户资料，或是与其他用户交流。
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-primary" onclick="logout()">注销登录状态</button>
    </form>
{% endblock %}

{% block addon_toast %}
    {% include 'toast.html' with class='bg-success' id='logout-message' header='注销登录状态成功' content='即将返回智心首页...' %}
    {% include 'toast.html' with class='bg-warning' id='error-message' header='注销登录状态失败' content='这可能不是您的原因，请稍后重试...' %}
{% endblock %}

{% block custom_js_1 %}
	<script>
        const option = {
            autohide: true,
            delay: 6000,
        }
        let toastEl1 = document.getElementById('logout-message');
        toastEl1.remove();
        document.getElementById("toast-container").appendChild(toastEl1);
        let toastEl2 = document.getElementById('error-message');
        toastEl2.remove();
        document.getElementById("toast-container").appendChild(toastEl2);
        function showLogoutMessage() {
            let toast = new bootstrap.Toast(toastEl1, option)
            toast.show();
        }
        function showErrorMessage() {
            let toast = new bootstrap.Toast(toastEl2, option)
            toast.show();
        }

        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        function logout() {
            fetch('/user/logout/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                }
            })
            .then((response) => {return response.json();})
            .then((data) => {
                if (data.status === "success") {
                    showLogoutMessage();
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 3000);
                }
                else {
                    showErrorMessage();
                }
            })
        }
    </script>
{% endblock %}