{% load static %}
{% load site_url %}
{# 这是专门放置于侧边栏的用户简要信息组件 #}

<div class="sidebar-widget" style="text-align: center; ">
    {% if user %}
        {% if user.cover_image == None %}
            <img src="{% static 'bg/lazy_mansui.jpg' %}" alt="" class="border-card card-image card-image-top">
        {% else %}
            <img src="/upload/file/{{ user.cover_image }}/" alt="" class="border-card card-image card-image-top">
        {% endif %}
        <div style="display: flex; align-items: center; justify-content: center;">
            {% if user.avatar == None %}
                <img src="{% static 'Users/liuyingQAQ.jpg' %}" alt="" class="avatar" >
            {% else %}
                <img src="{% site_url 'upload/file/' user.avatar '/' %}" alt="" class="avatar">
            {% endif %}
            <div style="display: inline-block; margin-left: 10px;">
                <strong>欢迎回来，{{ user.nick_name }}</strong><br>
                {% if user.sign %}
                    {{ user.sign|safe }}
                {% endif %}
            </div>
        </div>
        <hr>
        <a href="/user/{{ user.id }}/">
            <button class="btn btn-success card-btn">用户页面</button>
        </a>
        <a href="/user/me/">
            <button class="btn btn-outline-warning card-btn">用户中心</button>
        </a>
        <a href="post/edit/">
            <button class="btn btn-info card-btn">发布文章</button>
        </a>
        <a href="/upload/">
            <button class="btn btn-outline-danger card-btn">上传文件</button>
        </a>
        <a href="/chat/">
            <button class="btn btn-secondary card-btn">小智聊天</button>
        </a>
        <a href="/user/logout/">
            <button class="btn btn-outline-success card-btn">退出登录</button>
        </a>
    {% else %}
        <img src="{% static 'bg/lazy_mansui.jpg' %}" alt="" class="border-card card-image card-image-top">
        <strong>未登录</strong>
        <hr>
        <a href="/user/login/">
            <button class="btn btn-success">登录</button>
        </a>
        <a href="/user/signup/">
            <button class="btn btn-outline-warning">注册</button>
        </a>
    {% endif %}
</div>