{% load static %}
{# 这是放置于用户中心的侧边栏的链接组件 #}

{% load site_url %}
<div class="sidebar-widget" style="padding-bottom: 0; text-align: center">
    {% if user.cover_image == None %}
        <img src="{% static 'bg/lazy_mansui.jpg' %}" alt="" class="border-card card-image card-image-top">
    {% else %}
        <img src="{% site_url 'upload/file/' user.cover_image '/' %}" alt="" class="border-card card-image card-image-top">
    {% endif %}
    <strong>{{ user.nick_name }}</strong>
    {% if user.sign != None %}
        <br>
        <p>{{ user.sign }}</p>
    {% endif %}
    <hr>
    <a href="{% site_url 'user/' user.id '/' %}">
        <button type="button" class="btn btn-success card-btn">用户页面</button>
    </a>
</div>