{% load static %}
{# 这是放置于用户中心的侧边栏的链接组件 #}

{% load site_url %}
<div class="sidebar-widget" style="padding-bottom: 0; text-align: center">
    {% if user.cover_image == None %}
        <img src="{% static 'bg/lazy_mansui.jpg' %}" alt="" class="border-card card-image card-image-top">
    {% else %}
        <img src="{% site_url 'upload/file/' user.cover_image '/' %}" alt="" class="border-card card-image card-image-top">
    {% endif %}
    <div style="display: flex; align-items: center; justify-content: center;">
        {% if user.avatar == None %}
            <img src="{% static 'Users/liuyingQAQ.jpg' %}" alt="" class="avatar" >
        {% else %}
            <img src="{% site_url 'upload/file/' user.avatar '/' %}" alt="" class="avatar">
        {% endif %}
        <div style="display: inline-block; margin-left: 10px;">
            <strong>{{ user.nick_name }}</strong><br>
            {% if user.sign %}
                {{ user.sign|safe }}
            {% endif %}
        </div>
    </div>
    <hr>
    <a href="/user/{{ user.id }}/">
        <button type="button" class="btn btn-success card-btn">📖用户</button>
    </a>
    <button type="button" class="btn btn-love card-btn">💗关注</button>
</div>