{% extends "base.html" %}

{% block title %}
文章与通知中心
{% endblock %}

{% block content %}
    <h2 class="text-center">文章列表</h2>
    <div class="d-flex row">
        {% for post in posts %}
            <div class="rounded-1 col-4" style="border-radius: 5px; background-color: rgba(84,255,229,0.2); padding: 20px 20px 6px; margin:4px;">
                <h3>{{ post.title }}<a href="http://localhost:8000/post/post/{{ post.id }}/"><small>前往查看</small></a></h3>
                <p>{{ post.author.nick_name }} 发布于 {{ post.post_time }}</p>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2 class="text-center">通知列表</h2>
    <div class="d-flex row">
        {% for notice in notices %}
            <div class="rounded-1 col-4" style="border-radius: 5px; background-color: rgba(142,206,255,0.2); padding: 20px 20px 6px; margin:4px;">
                <h3>{{ notice.title }}<a href="http://localhost:8000/post/notice/{{ notice.id }}/"><small>前往查看</small></a></h3>
                <p>管理员 发布于 {{ notice.post_time }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}